[submodule "SubModules/Noobot.Toolbox"]
	path = SubModules/Noobot.Toolbox
	url = https://github.com/ebrucucen/Noobot.Toolbox.git
[submodule "SubModules/SlackConnector"]
	path = SubModules/SlackConnector
	url = https://github.com/ebrucucen/SlackConnector.git
[submodule "SubModules/noobot"]
	path = SubModules/noobot
	url = https://github.com/ebrucucen/noobot.git
	branch = AdditionalSlackBotMessageSupport
